In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("/Users/beratzengin/Desktop/Github/EcoAir SmartCity Predictor/Feature Engineering/MASTER_MERGED_RAW.csv")

In [4]:
df.info

<bound method DataFrame.info of                              date   PM10  SO2    O3   NO2     CO   0   temp  \
0       2024-01-01 00:00:00+00:00  206.0  NaN   NaN   NaN    NaN NaN   9.00
1       2024-01-01 01:00:00+00:00  119.6  NaN   NaN   NaN    NaN NaN   8.90
2       2024-01-01 02:00:00+00:00  125.3  NaN   NaN   NaN    NaN NaN   9.35
3       2024-01-01 03:00:00+00:00   92.6  NaN   NaN   NaN    NaN NaN   9.15
4       2024-01-01 04:00:00+00:00   86.0  NaN   NaN   NaN    NaN NaN   8.95
...                           ...    ...  ...   ...   ...    ...  ..    ...
208453  2024-04-30 19:00:00+00:00   20.8  2.3  43.3  34.3  479.7 NaN  13.70
208454  2024-04-30 20:00:00+00:00   21.0  2.8  49.4  35.4  484.1 NaN  13.65
208455  2024-04-30 21:00:00+00:00   15.9  2.7  58.5  32.8  459.6 NaN  13.50
208456  2024-04-30 22:00:00+00:00   13.3  3.2  59.6  32.1  447.0 NaN  13.35
208457  2024-04-30 23:00:00+00:00   14.8  2.9  58.4  30.9  440.2 NaN  13.30

         humidity  wind_speed  wind_direction  avg_speed  total_vehicles  \
0       85.511210    8.427383      160.016800  54.900000             866
1       90.626740    8.287822      182.489500  57.100000             485
2       90.658610    8.557102      194.620910  60.388889             308
3       91.575035    9.693295      195.068540  57.600000             252
4       92.188180    9.178235      191.309890  55.894737             239
...           ...         ...             ...        ...             ...
208453  93.684250   20.188908       31.138918  25.607143            6837
208454  92.461310   22.896110       36.689827  28.857143            6034
208455  91.244965   23.065300       34.186180  35.035714            5449
208456  90.039970   22.288042       31.122416  36.571429            4834
208457  88.854500   21.749483       28.686060  38.535714            4124

        Station_Name
0       Sultangazi_3
1       Sultangazi_3
2       Sultangazi_3
3       Sultangazi_3
4       Sultangazi_3
...              ...
208453     Alibeyköy
208454     Alibeyköy
208455     Alibeyköy
208456     Alibeyköy
208457     Alibeyköy

[208458 rows x 14 columns]>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208458 entries, 0 to 208457
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            208458 non-null  object
 1   PM10            197302 non-null  float64
 2   SO2             133303 non-null  float64
 3   O3              143744 non-null  float64
 4   NO2             165400 non-null  float64
 5   CO              126230 non-null  float64
 6   0               0 non-null       float64
 7   temp            208458 non-null  float64
 8   humidity        208458 non-null  float64
 9   wind_speed      208458 non-null  float64
 10  wind_direction  208458 non-null  float64
 11  avg_speed       208458 non-null  float64
 12  total_vehicles  208458 non-null  int64
 13  Station_Name    208458 non-null  object
dtypes: float64(11), int64(1), object(2)
memory usage: 22.3+ MB

In [6]:
df.shape

(208458, 14)

In [7]:
print(df.shape)

(208458, 14)

In [8]:
df.drop(columns=['0'], inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208458 entries, 0 to 208457
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            208458 non-null  object
 1   PM10            197302 non-null  float64
 2   SO2             133303 non-null  float64
 3   O3              143744 non-null  float64
 4   NO2             165400 non-null  float64
 5   CO              126230 non-null  float64
 6   temp            208458 non-null  float64
 7   humidity        208458 non-null  float64
 8   wind_speed      208458 non-null  float64
 9   wind_direction  208458 non-null  float64
 10  avg_speed       208458 non-null  float64
 11  total_vehicles  208458 non-null  int64
 12  Station_Name    208458 non-null  object
dtypes: float64(10), int64(1), object(2)
memory usage: 20.7+ MB

In [10]:
df.shape

(208458, 13)

In [11]:
df = df.sort_values(by=['Station_Name', 'date'])

In [12]:
df[['PM10', 'SO2', 'O3', 'NO2', 'CO']] = df[['PM10', 'SO2', 'O3', 'NO2', 'CO']].fillna(method='ffill')

/var/folders/r9/8m5sxt9977b18t0ly0504jk80000gn/T/ipykernel_24269/3631571000.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[['PM10', 'SO2', 'O3', 'NO2', 'CO']] = df[['PM10', 'SO2', 'O3', 'NO2', 'CO']].fillna(method='ffill')

In [13]:
df[['PM10', 'SO2', 'O3', 'NO2', 'CO']] = df[['PM10', 'SO2', 'O3', 'NO2', 'CO']].ffill()

In [14]:
df['date'] = pd.to_datetime(df['date'])

In [15]:
df['hour'] = df['date'].dt.hour
df['day_of_week'] = df['date'].dt.dayofweek # 0=Pazartesi
df['is_weekend'] = df['day_of_week'].apply(lambda x: 1 if x >= 5 else 0)
df['month'] = df['date'].dt.month

In [16]:
df['prev_PM10'] = df.groupby('Station_Name')['PM10'].shift(1)

In [17]:
df['traffic_rolling_3h'] = df.groupby('Station_Name')['total_vehicles'].transform(lambda x: x.rolling(3).mean())

In [18]:
df = pd.get_dummies(df, columns=['Station_Name'], prefix='station')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 208458 entries, 48138 to 100093
Data columns (total 44 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   date                  208458 non-null  datetime64[ns, UTC]
 1   PM10                  208458 non-null  float64
 2   SO2                   208458 non-null  float64
 3   O3                    208458 non-null  float64
 4   NO2                   208458 non-null  float64
 5   CO                    208458 non-null  float64
 6   temp                  208458 non-null  float64
 7   humidity              208458 non-null  float64
 8   wind_speed            208458 non-null  float64
 9   wind_direction        208458 non-null  float64
 10  avg_speed             208458 non-null  float64
 11  total_vehicles        208458 non-null  int64
 12  hour                  208458 non-null  int32
 13  day_of_week           208458 non-null  int32
 14  is_weekend            208458 non-null  int64
 15  month                 208458 non-null  int32
 16  prev_PM10             208432 non-null  float64
 17  traffic_rolling_3h    208406 non-null  float64
 18  station_Aksaray       208458 non-null  bool
 19  station_Alibeyköy     208458 non-null  bool
 20  station_Arnavutköy    208458 non-null  bool
 21  station_Avcılar       208458 non-null  bool
 22  station_Bağcılar      208458 non-null  bool
 23  station_Beşiktaş      208458 non-null  bool
 24  station_D-100_        208458 non-null  bool
 25  station_Esenler       208458 non-null  bool
 26  station_Kadıköy       208458 non-null  bool
 27  station_Kandilli_1    208458 non-null  bool
 28  station_Kartal        208458 non-null  bool
 29  station_Kağıthane_1   208458 non-null  bool
 30  station_Kumköy        208458 non-null  bool
 31  station_Maslak        208458 non-null  bool
 32  station_Mobil         208458 non-null  bool
 33  station_Sancaktepe    208458 non-null  bool
 34  station_Sarıyer       208458 non-null  bool
 35  station_Selimiye      208458 non-null  bool
 36  station_Sultangazi_1  208458 non-null  bool
 37  station_Sultangazi_2  208458 non-null  bool
 38  station_Sultangazi_3  208458 non-null  bool
 39  station_Tuzla         208458 non-null  bool
 40  station_Yenibosna     208458 non-null  bool
 41  station_Çatladıkapı   208458 non-null  bool
 42  station_Ümraniye_1    208458 non-null  bool
 43  station_Üsküdar_1     208458 non-null  bool
dtypes: bool(26), datetime64[ns, UTC](1), float64(12), int32(3), int64(2)
memory usage: 33.0 MB

In [20]:
df.isnull().sum()

date                     0
PM10                     0
SO2                      0
O3                       0
NO2                      0
CO                       0
temp                     0
humidity                 0
wind_speed               0
wind_direction           0
avg_speed                0
total_vehicles           0
hour                     0
day_of_week              0
is_weekend               0
month                    0
prev_PM10               26
traffic_rolling_3h      52
station_Aksaray          0
station_Alibeyköy        0
station_Arnavutköy       0
station_Avcılar          0
station_Bağcılar         0
station_Beşiktaş         0
station_D-100_           0
station_Esenler          0
station_Kadıköy          0
station_Kandilli_1       0
station_Kartal           0
station_Kağıthane_1      0
station_Kumköy           0
station_Maslak           0
station_Mobil            0
station_Sancaktepe       0
station_Sarıyer          0
station_Selimiye         0
station_Sultangazi_1     0
station_Sultangazi_2     0
station_Sultangazi_3     0
station_Tuzla            0
station_Yenibosna        0
station_Çatladıkapı      0
station_Ümraniye_1       0
station_Üsküdar_1        0
dtype: int64

In [21]:
df.head()

,date,PM10,SO2,O3,NO2,CO,temp,humidity,wind_speed,wind_direction,...,station_Sarıyer,station_Selimiye,station_Sultangazi_1,station_Sultangazi_2,station_Sultangazi_3,station_Tuzla,station_Yenibosna,station_Çatladıkapı,station_Ümraniye_1,station_Üsküdar_1
48138,2024-01-01 00:00:00+00:00,121.2,6.1,6.5,138.4,2680.4,9.70,81.579310,9.178235,131.82008,...,False,False,False,False,False,False,False,False,False,False
48139,2024-01-01 01:00:00+00:00,126.2,7.4,8.3,152.8,2005.4,8.55,89.983444,6.130579,139.76372,...,False,False,False,False,False,False,False,False,False,False
48140,2024-01-01 02:00:00+00:00,155.8,9.2,5.5,135.3,1719.9,8.20,89.340690,5.860375,137.48960,...,False,False,False,False,False,False,False,False,False,False
48141,2024-01-01 03:00:00+00:00,149.0,11.1,4.4,110.9,1418.4,8.45,87.237050,7.200000,143.13002,...,False,False,False,False,False,False,False,False,False,False
48142,2024-01-01 04:00:00+00:00,145.5,15.9,3.7,91.4,1063.5,8.70,86.365930,7.729527,152.24155,...,False,False,False,False,False,False,False,False,False,False

In [22]:
import os

In [23]:
import os
from sklearn.model_selection import train_test_split

PATH = "/Users/beratzengin/Desktop/Github/EcoAir SmartCity Predictor/Feature Engineering"

train_df, test_df = train_test_split(df, test_size=0.20, random_state=42)

train_df.to_csv(os.path.join(PATH, 'train.csv'), index=False)
test_df.to_csv(os.path.join(PATH, 'test.csv'), index=False)